.cast_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
}

.cast_item {
  width: calc((100% - 16px) / 8);
  text-align: center;
  border: 1px solid rgb(66, 60, 66);
  border-radius: 10px;
}

.cast_name {
  color: rgb(109, 97, 109);
}
